.app {
  text-align: center;
}
.app__form {
  padding: 20px;
  position: fixed; /* this is used so that the position of the button will always in the bottom even when we scrol down  */
  bottom: 0;
  z-index: 1; /* by default z-index is 0 and its for priority*/
  background-color: lightgray;
  width: 100%;
  margin: 20px;
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
}

.app__iconButton{
  flex:0;  /* this means take min space as possible  */
}

.app__input{
  flex: 1; /* this means we are telling the input field to take as much space as possible , by default it will take the space it wanted  */
}
